{% extends "base_with_details.html" %}

{% from "edit-resource-macro.html" import resource_edit_form with context %}

{% block details %}
<div class="d-flex justify-content-between align-items-center">
  <div>{{ resource.__class__.__name__ }} / Luo uusi</div>
  <div>
    <button class="btn btn-primary" onclick="document.getElementById('resource-creation-form').submit()">Luo</button>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container-sm d-flex justify-content-center">
  <div class="card mt-4 col-md-6">
    <div class="card-body">
      {{ resource_edit_form(resource, id='resource-creation-form', action=url_for('create_resource_post', type=type)) }}
    </div>
  </div>
</div>
{% endblock %}
