{% extends "base_with_details.html" %}

{% block details %}
  <div class="d-flex align-items-center justify-content-between">
    <div>Dashboard</div>
    <div>
      <a class="btn btn-light" href="{{ url_for('resource.begin_create', type='account') }}">Luo asiakas</a>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="container-sm mt-4">
  <div class="row">
    <div class="col-md-4 px-4">
      <h3>Asiakkaasi</h3>
      {% for account in accounts %}
        <div class="card mb-3 mt-3" style="cursor: pointer" onclick="window.location = '{{ url_for('resource.view', id=account.id) }}'">
          <div class="card-body">
            <b>{{ account.title() }}</b>
            <div class="mt-2">{{ account.description }}</div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="col-md-4 px-4">
      <h3>Mahdollisuutesi</h3>
      {% for opportunity in opportunities %}
        <div class="card mb-3 mt-3" style="cursor: pointer" onclick="window.location = '{{ url_for('resource.view', id=opportunity.id) }}'">
          <div class="card-body">
            <b>{% if opportunity.account %}{{ opportunity.account.title() }} >> {% endif %}{{ opportunity.title() }}</b>
            <div class="mt-2">{{ opportunity.description }}</div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="col-md-4 px-4">
      <h3>Myyntitapahtumasi</h3>
      {% for sales_order in sales_orders %}
        <div class="card mb-3 mt-3" style="cursor: pointer" onclick="window.location = '{{ url_for('resource.view', id=sales_order.id) }}'">
          <div class="card-body">
            <b>{% if sales_order.opportunity and sales_order.opportunity.account %}{{ sales_order.opportunity.account.title() }} >> {% endif %}{{ sales_order.title() }}</b>
            <div class="mt-2">{{ sales_order.description }}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
