{% extends "settings.html" %}

{% block settings_content %}
  <div class="card">
    <div class="card-header">
      <div class="d-flex align-items-center justify-content-between">
        <span>Käyttäjät</span>
        <a class="btn btn-sm btn-primary" href="{{ url_for('settings.create_user') }}">Luo uusi käyttäjä</a>
      </div>
    </div>
    <div>
      <table class="table mb-0 user-management-table">
        {% for user in users %}
        <tr>
          <td style="width: 2.54rem" class="text-center border-end"><input type="checkbox" /></td>
          <td>{{user.username}} <span class="badge bg-secondary">{{user.role.value}}</span></td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="card-footer">
      <div class="d-flex align-items-center justify-content-between">
        <div></div>
        <a class="btn btn-sm btn-primary" href="{{ url_for('settings.create_user') }}">Luo uusi käyttäjä</a>
      </div>
    </div>
  </div>
{% endblock %}
